<a href="https://colab.research.google.com/github/Tejasri-Pendota/Projects/blob/main/Credit_card_Fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#Step 1 - Download the dataset
#Step 2 - Change the path of the dataset according to you System
#Dataset link - https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [ ]:
#loading the dataset to a pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv.zip')

In [ ]:
#first 5 rows of the data set
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
#last 5 rows of the data set
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
172792

172792

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#distribution of legit trasaction and fraudulent transaction
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

Data is so unbalanced , if we train the model using the same data then it may not recognise the fraudulent transaction

0--> Normal Transaction
1--> Fraudulent Transaction

In [ ]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
legit.shape

(284315, 31)

In [ ]:
fraud.shape

(492, 31)

In [ ]:
#statistical easures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

see the large difference betwwen legit and fradulent

In [ ]:
legit_sample = legit.sample(n = 492)

In [ ]:
new_dataset = pd.concat([legit_sample , fraud] , axis = 0) #axis = 0 means adding row wise

In [ ]:
new_dataset.head(100)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
46494,42810.0,-1.662913,1.222505,0.481897,-0.164960,0.524130,-0.536073,0.671363,0.288789,-0.647522,...,0.014893,-0.003860,-0.174945,-0.409628,0.672831,0.517376,-0.276314,0.067458,10.72,0
117676,74763.0,-1.192187,0.569125,1.241066,1.392409,0.301580,0.152728,-0.002233,0.651096,-0.927214,...,0.153075,0.299161,-0.137814,0.057258,0.064391,-0.225503,0.034744,-0.039700,30.00,0
255979,157485.0,0.222945,0.870800,-0.283543,-0.578543,1.019053,-0.715379,1.125372,-0.259332,0.216984,...,-0.395237,-0.855823,0.081759,0.477494,-0.482283,0.093397,0.054812,-0.140807,8.98,0
32026,36609.0,-0.229818,0.997866,1.635620,0.646352,-0.072984,-0.567175,0.620744,-0.116533,-0.814845,...,0.239740,0.849451,-0.089067,0.689612,-0.498497,0.476687,0.149539,0.152649,2.99,0
86396,61215.0,0.533945,-0.869622,0.497405,1.270813,-0.554897,0.727903,-0.167572,0.313010,0.050515,...,0.429037,0.665027,-0.288484,-0.268568,0.250728,-0.238043,0.015611,0.061469,284.25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85131,60620.0,-1.384703,0.062200,1.035300,-0.024551,0.205136,-0.206430,-0.084824,0.601871,-0.686146,...,0.378123,0.546934,-0.164385,-0.458332,0.054151,0.469063,-0.066068,-0.072873,78.42,0
91791,63629.0,-1.427012,0.042956,1.665307,0.566130,0.287340,0.960705,-0.507013,1.048537,0.476160,...,-0.213322,-0.629125,-0.076124,-0.690330,-0.100543,-0.677938,0.059996,-0.037524,17.59,0
210191,137877.0,-2.133864,1.170440,-2.446848,-2.803809,0.010927,0.634711,1.030898,-3.754669,-0.800319,...,3.144417,0.234817,0.490339,-0.117835,-0.269902,-0.242653,0.758796,0.369047,242.00,0
257212,158055.0,2.007366,0.197605,-2.312928,1.010685,1.184531,-0.560293,0.855922,-0.417799,-0.206546,...,0.117172,0.317474,-0.117129,0.041289,0.568107,-0.479833,-0.042435,-0.052524,64.02,0
220946,142366.0,1.926052,-0.994753,-2.235349,-0.785782,-0.141674,-1.481935,0.450793,-0.590734,-1.047161,...,0.473978,0.972172,-0.131070,1.161716,0.346953,0.008395,-0.111491,-0.041377,181.32,0

In [ ]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94473.843496,0.116609,0.008331,0.070079,0.052930,-0.057485,0.030678,-0.053044,-0.016701,0.139058,...,-0.017287,-0.024629,0.005926,0.008873,0.014546,0.013644,0.035965,-0.015489,0.018396,75.469939
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data set into features and targets

In [ ]:
X = new_dataset.drop(columns = 'Class' ,axis =1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
46494    42810.0 -1.662913  1.222505  0.481897 -0.164960  0.524130 -0.536073
117676   74763.0 -1.192187  0.569125  1.241066  1.392409  0.301580  0.152728
255979  157485.0  0.222945  0.870800 -0.283543 -0.578543  1.019053 -0.715379
32026    36609.0 -0.229818  0.997866  1.635620  0.646352 -0.072984 -0.567175
86396    61215.0  0.533945 -0.869622  0.497405  1.270813 -0.554897  0.727903
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
46494   0.671363  0.288789 -0.647522  ... -0.207560  0.014893 -0.003860
117676 -0.002233  0.651096 -0.927214  ...  0.135670  0.153075  0.299161
255979  1.125372 -0.259332  0.216984  ...  0.047327 -0.395237 -0.855823
32026   0.620744 -0.116533 -0.814845  ...  0.087374  0.239740  0.849451
86396  -0.167572  0.313010  0.050515  ...  0.351152  0.429037  0.665027
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
46494  -0.174945 -0.409628  0.672831  0.517376 -0.276314  0.067458   10.72
117676 -0.137814  0.057258  0.064391 -0.225503  0.034744 -0.039700   30.00
255979  0.081759  0.477494 -0.482283  0.093397  0.054812 -0.140807    8.98
32026  -0.089067  0.689612 -0.498497  0.476687  0.149539  0.152649    2.99
86396  -0.288484 -0.268568  0.250728 -0.238043  0.015611  0.061469  284.25
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [ ]:
print(Y)

46494     0
117676    0
255979    0
32026     0
86396     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the Data into Training data and Test data

In [ ]:
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size = 0.2 , stratify = Y , random_state = 10)
#stratify = Y  evenly distribute 0's and 1's

**Model** **Training**

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train , Y_train)

LogisticRegression()

**Model Evaluation**

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [ ]:
print("Accuracy on Training data" , training_data_accuracy)

Accuracy on Training data 0.9174078780177891

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction , Y_test)

In [ ]:
print("Accuracy on Test data" , test_data_accuracy)

Accuracy on Test data 0.9238578680203046